:root {
  --background-color: #FE8584;
  --border-color: #ccc;
  --title-font: cooper-black-std, serif;
  --body-font: CircularStd-Book;
}

/* FONTS */
@font-face {
  font-family: "CircularStd-Black";
  src: local("CircularStd-Black"),
    url("./fonts/CircularStd-Black.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "CircularStd-Book";
  src: local("CircularStd-Book"),
    url("./fonts/CircularStd-Book.otf") format("opentype");
  font-weight: normal;
}

@import url("https://use.typekit.net/yom7ger.css");

H1, H2, H3, H4, H5 {
  font-family: var(--title-font);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
}

p, div, span {
  font-family: var(--body-font);
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  margin-top: 25px;
  margin-bottom: 0px;
  /* height: 150px; */
  width: 400px;
  pointer-events: none;
}
.App-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 150px;
  pointer-events: none;
}
.App-header {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #DAE0E6;
}

input {
  border: solid .25px;
  border-radius: 4px;
}

/* BUTTONS */
button {
  font-family: var(--body-font);
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  text-decoration: none;
  min-width: 100px;
  margin: 5px;
  border: solid .25px;
  border-radius: 4px;
}

.subscribe {
  background-color: red;
  color: white;
  width: 90%;
  margin-bottom: 15px;
}

.unsubscribe {
  width: 90%;
  margin-top: 15px;
}

.next-lesson {
  float: right;
  display: block;
}

.complete {
  background-color: grey;
}

.course-count {
  display: inline-block;
  width: 15px;
  line-height: 1;
  padding: 1px;
  border-radius: 50%;
  border: black 1px solid;
}

input {
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px;
}

/* NAVIGATION */

/* MAIN NAV BAR */
.nav {
  background-color: var(--background-color);
  padding: 5px;
  width: 90%;
  display: block;
  overflow: auto;
  margin: auto;
}

.nav .main {
  display: inline-block;
}

.nav .greeting {
  display: inline-block;
  max-width: 200px;
  vertical-align: middle;
}

.nav .greeting h5 {
  margin: 0;
}
/* SESSION NAV BAR */
.nav .session {
  display: inline-block;
  /* position: absolute;
  right: 0;
  top: 50px;
  background-color: inherit;
  width: 200px; */
}

.session ul {
  list-style-type: none;
  margin: auto;
  padding: 15px 0px;
}

/* COURSE */
.course {
  display: block;
  overflow: auto;
  margin: 15px auto 15px auto;
  padding: 15px;
  max-width: 700px;
  background-color: white;
  border: var(--border-color) 1px solid;
  border-radius: 4px;
}

.course.sidebar {
  float: left;
  width: 150px;
  margin: 0 15px 0 0;
  border-radius: 4px;
  border: none;
}

/* COURSE NAV BAR */
.course-nav {
  overflow: scroll;
  height: 400px;
}

.course-nav ul {
  list-style-type: none;
  padding: 5px;
}

.course-nav ul button {
  width: 90%;
  padding: 3px;
}

/* STYLING FOR NavLink OBJECTS */
a:link, a:visited {
  text-align: center;
  text-decoration: none;
  color: black;
}

/* LESSONS STYLING */
.lessons {
  margin: auto;
}

/* LESSON STYLING */
.lesson {
  padding-top: 0;
  padding: 15px;
}

.lesson .content {
}

.lesson .video {
  height: 240px;
  width: 426px;
}

.blurb, .dashboard {
  display: block;
  overflow: auto;
  margin: 15px auto 15px auto;
  padding: 15px;
  max-width: 700px;
  background-color: white;
  border: var(--border-color) 1px solid;
  border-radius: 4px;
}

.blurb-title {
  margin: 50px;
}

.blurb h3, .blurb h4 {
  text-align: left;
  /* margin: 50px 15px; */
}
@media only screen and (max-width: 768px){
  .nav .greeting {
    display: none;
  }
   
  .App-icon {
    position: relative;
    top: 25px;
    left: 0;
  }

  .course, .blurb {
    margin: 15px;
  }
}



