.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM CODE STARTS HERE */

/* GENERAL */
button {
  padding: 8px 16px;
  text-decoration: none;
  min-width: 100px;
  margin: 5px;
}

input {
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px;
}
/* SESSION NAV BAR */
.session {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #282c34;
}

.session ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0px;
  width: 150px;
}

#user.selected {
  background-color: blue;
  color: white;
}

#teacher.selected {
  background-color: orange;
  color: white;
}

.selected {
  background-color: red;
  color: white; 
}

/* COURSE */
.course {
  margin: 50px 150px 50px 0px;
  float: none;
  clear: both;
  min-height: 100px;
  height: auto;
}

/* COURSE NAV BAR */
.course-nav {
  float: left;
  width: 150px;
  margin: auto;
  margin-bottom: 15px;
  padding: 0px 5px 0px 5px;
  overflow: scroll;
  height: 400px;
}

.course-nav ul {
  list-style-type: none;
  padding: 15px 0px;
}

/* STYLING FOR NavLink OBJECTS */
a:link, a:visited {
  text-align: center;
  text-decoration: none;
  color: black;
}

/* LESSONS STYLING */
.lessons {
  margin: auto;
  margin-left: 200px;
  margin-bottom: 100px;
}
/* LESSON STYLING */
.lesson {
  margin-bottom: 50px;
}

.lesson .content {
  padding: 0 50px 0 50px;
}

.lesson .video {
  height: 240px;
  width: 426px;
}

.blurb, .dashboard {
  width: 300px;
  margin: auto;
}





