:root {
  --background-color: #111228;
  --border-color: #ccc;
}

/* FONTS */
@font-face {
  font-family: "Dosis";
  src: local("Dosis-Light"),
    url("./fonts/Dosis-Light.ttf") format("truetype");
  font-weight: normal;
}

H1, H2, H3, H4, H5 {
  font-family: Dosis;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
}

p, div, span {
  font-family: Dosis;
  font-size: 17px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #DAE0E6;
}

input {
  border: solid .25px;
  border-radius: 4px;
}

/* BUTTONS */
button {
  font-family: Dosis;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  text-decoration: none;
  min-width: 75px;
  margin: 5px;
  border: solid .25px;
  border-radius: 4px;
}

#user.selected {
  background-color: blue;
  color: white;
}

#teacher.selected {
  background-color: orange;
  color: white;
}

.selected {
  background-color: red;
  color: white; 
}

/* SUBSCRIBE AND UNSUBSCRIBE STYLING */
.subscribe {
  background-color: blue;
  color: white;
  width: 90%;
  margin-bottom: 15px;
}

.unsubscribe {
  background-color: red;
  color: white; 
  width: 90%;
  margin-bottom: 15px;
}

input {
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px;
}

/* NAVIGATION */

/* MAIN NAV BAR */
.nav {
  background-color: var(--background-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px;
}

.nav.main {
  width: 100%;
  z-index: 0;
  margin-bottom: 50px;
}

/* SESSION NAV BAR */
.nav.session {
  position: fixed;
  right: 0;
  top: 0;
  background-color: inherit;
  width: 150px;
  z-index: 1;
}

.session ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0px;
  width: 150px;
}

/* COURSE */
.course {
  display: block;
  overflow: auto;
  margin: 8px 175px 8px 15px;
  padding: 5px 25px 5px 5px;
  clear: both;
  /* min-height: 150px; */
  /* width: 80%; */
  max-width: 800px;
  background-color: white;
  border: var(--border-color) 1px solid;
  border-radius: 4px;
}

.course.sidebar {
  float: left;
  width: 150px;
  margin: 22.78px 25px 5px 5px;
  padding: 5px;
  border-radius: 4px;
  border: none;
}

/* COURSE NAV BAR */
.course-nav {
  overflow: scroll;
  height: 400px;
}

.course-nav ul {
  list-style-type: none;
  padding: 5px;
}

.course-nav ul button {
  width: 90%;
}

/* STYLING FOR NavLink OBJECTS */
a:link, a:visited {
  text-align: center;
  text-decoration: none;
  color: black;
}

/* LESSONS STYLING */
.lessons {
  margin: auto;
  padding: 5px;
}

/* LESSON STYLING */
.lesson {
  /* padding: 50px; */
}

.lesson .content {
}

.lesson .video {
  height: 240px;
  width: 426px;
}

.blurb, .dashboard {
  width: 300px;
  margin: auto;
}





